:root {
  --primary-font-family: "Abril Fatface", cursive;
  --secondary-font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--primary-font-family);
  color: whitesmoke;
  font-size: 96px;
  font-weight: normal;
  margin-top: -12px;
}

.hero {
  background: black;
  text-align: center;
  padding: 160px 20px;
}
.hero p,
h2 {
  font-family: var(--secondary-font-family);
  color: white;
  font-size: 25px;
  margin: 0;
}

.btn-branding {
  background: white;
  color: black;
  padding: 12px 20px;
  font-family: var(--secondary-font-family);
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.btn-branding-projects {
  background: black;
  color: white;
  padding: 12px 20px;
  font-family: var(--secondary-font-family);
  margin-bottom: 10px;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-family: var(--primary-font-family);
  font-size: 40px;
}

.side-text {
  font-size: 15px;
}

.desc {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .desc {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 55px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}

.about-section {
  text-align: center;
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 70px;
  color: black;
}
.about-section h2 {
  color: black;
  font-size: 15px;
}
.about-section p {
  color: black;
  font-size: 15px;
}
.headshot {
  border-radius: 20px;
  max-width: 300px;
}
.work-content h1 {
  font-size: 60px;
  color: black;
  text-align: center;
  padding: 160px 20px;
}

.work-content h4 {
  font-size: 20px;
  font-family: var(--primary-font-family);
  text-align: center;
}

.work-content p {
  font-size: 15px;
  text-align: center;
}

.contact-content h1 {
  color: black;
  text-align: center;
  padding: 160px 20px;
}
.contact-content link {
  text-decoration: none;
  color: black;
}
.social-links a {
  margin: 0 20px;
  color: white;
  padding: 10px 14px;
  background-color: black;
  border-radius: 50%;
  font-size: 18px;
}
.social-links a:hover {
  color: black;
  background-color: white;
  transition: all 100ms ease-in-out;
}
